*{
	padding:0px;
	margin:0px auto;
	box-sizing:border-box;
}
.container{
	width:100%;
	max-width:414px;
	max-height:700px;
	height:700px;
	position: fixed;
	background:#ffffff;
	overflow:hidden;
	background:url(../images/bg0.jpg) no-repeat;
	background-size:100% 100%;
	/* border:1px solid red; */
}
.box{
	width:100%;
	height:630px;
	padding-top:25%;
	padding-left:8%;
	padding-right:8%;
	/* border:2px solid; */
}
#box_top{
	width:100%;
	height:130px;
	float:left;
	/* border:2px solid yellow; */
}
#box_top img{
	display:block;
	width:33%;
	height:75%;
	/* border:1px solid; */
}
#box_con{
	width:100%;
	height:295px;
	float:left;
	/* border:2px solid blue; */
}
#box_con_top{
	width:100%;
	height:140px;
	float:left;
	padding:4% 0%;
/* 	background:pink; */
}
#box_con_top_left{
	width:44%;
	height:100%;
	float:left;
	border-radius:7%;
	background:#F6F6F6;
	margin-right:10%;
}
#box_con_top_right{
	width:44%;
	height:100%;
	float:left;
	border-radius:7%;
	background:#F6F6F6;
}
#box_con_top_left a,#box_con_top_right a{
	display:block;
	width:100%;
	height:100%;
	padding:10% 10%;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
}
.box_con_pic{
	width:100%;
	height:100%;
	background:#F6F6F6;
}
.box_con_pic img{
	display:block;
	width:100%;
	height:70%;
	float:left;
	padding:0px 10%;
}
.box_con_pic p{
	display:inline-block;
	float:left;
	width:100%;
	height:30%;
	line-height:30px;
	text-align:center;
	font-size:16px;
	font-weight:bolder;
	color:#3B7105;
	font-family:"sans-serif";
}
#box_con_bottom{
	width:100%;
	height:110px;
	float:left;
	border-radius:10px;
	background:#ffffff;
}
#box_con_bottom a{
	display:block;
	width:100%;
	height:100%;
	padding:5%;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
}
.box_con_bottom_pic{
	width:100%;
	height:100%;
}
.box_con_bottom_pic img{
	display:block;
	width:35%;
	height:100%;
	float:left;
	padding:1% 3%;
}
.box_con_bottom_pic p{
	display:inline-block;
	float:left;
	width:50%;
	height:100%;
	line-height:80px;
	text-align:center;
	font-size:16px;
	font-weight:bolder;
	font-family:"sans-serif";
	color:#3B7105;
}

/* 背景图向上飘 */
.container ul{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-10;
}
.container ul li{
    list-style-type:none;
    display:block;
    position:absolute;
    bottom:-100px;
    z-index:-8;
    opacity:0.6;
    animation: square 28s infinite;
    -webkit-animation: square 28s infinite;
}
.container ul li:nth-child(1){
	width:60px;
    height:48px;
   	left:4%;
    animation-duration: 14s;
    -moz-animation-duration: 14s;
    -o-animation-duration: 14s;
    -webkit-animation-duration: 14s;
    background:url(../images/bg2.png) no-repeat;
    background-size:100% 100%;
}
.container ul li:nth-child(2) {
   width: 67px;
   height: 60px;
    left: 15%;
    animation-duration: 20s;
    -moz-animation-duration: 20s;
    -o-animation-duration: 20s;
    -webkit-animation-duration: 20s;
    background:url(../images/bg3.png) no-repeat;
    background-size:100% 100%;
}
.container ul li:nth-child(3) {
   	width: 67px;
   	height: 50px;
    left: 10%;
    animation-duration: 28s;
    -moz-animation-duration: 28s;
    -o-animation-duration: 28s;
    -webkit-animation-duration: 28s;
    background:url(../images/bg8.png) no-repeat;
    background-size:100% 100%;
}
.container ul li:nth-child(4) {
    left: 23%;
    width: 30px;
    height: 40px;
    animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    -webkit-animation-duration: 10s;
    background:url(../images/bg5.png) no-repeat;
    background-size:100% 100%;
}
.container ul li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay:3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    animation-duration: 12s;
    -moz-animation-duration: 12s;
    -o-animation-duration: 12s;
    -webkit-animation-duration: 12s;
    background:url(../images/bg7.png) no-repeat;
    background-size:100% 100%;
}
.container ul li:nth-child(6) {
    width: 60px;
    height: 60px;
    left: 70%;
    animation-duration: 12s;
    -moz-animation-duration: 12s;
    -o-animation-duration: 12s;
    -webkit-animation-duration: 12s;
	background:url(../images/bg6.png) no-repeat;
    background-size:100% 100%;
}
.container ul li:nth-child(7) {
    width:75px;
    height:75px;
    left: 79%;
     animation-duration: 21s;
    -moz-animation-duration: 21s;
    -o-animation-duration: 21s;
    -webkit-animation-duration: 21s;
    background:url(../images/bg4.png) no-repeat;
    background-size:100% 100%;
}
@keyframes square {
    0%  {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    100% {
            bottom: 100%;
            transform: rotate(600deg);
            -webit-transform: rotate(600deg);
            -webkit-transform: translateY(-200);
            transform: translateY(-200)
    }
}
@-webkit-keyframes square {
    0%  {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        bottom: 100%;
        transform: rotate(600deg);
        -webit-transform: rotate(600deg);
        -webkit-transform: translateY(-200);
        transform: translateY(-200)
    }
}